<nav class="navigation">
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/financial" routerLinkActive="active">Financial</a></li>
    <li><a routerLink="/mathematical" routerLinkActive="active">Mathematical</a></li>
    <li><a routerLink="/health" routerLinkActive="active">Health & Lifestyle</a></li>
    <li><a routerLink="/other" routerLinkActive="active">Other Tools</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
</nav>
