<section class="hero-section">
  <div class="hero-background"></div>
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">Your All In One Calculator Solution</h1>
      <p class="hero-subtitle">From financial planning to health metrics, our advanced calculators help you make informed decisions with precision and ease.</p>
      <a (click)="scrollToCalculators()" class="button primary-button">Scroll to discover</a>
    </div>
    <div class="hero-image">
      <img src="src/public/logo.svg" alt="Profile Image">
    </div> 
  </div>
</section>

<section #calculatorsSection class="calculators-section">
  <h2>Our Calculators</h2>

  @for (category of categoryKeys(); track category) {
    <div class="category-section">
      <h3>{{ category }}</h3>
      <div class="calculator-grid">
        @for (card of categorizedCalculators()[category]; track card.title) {
          <div class="calculator-card">
            <div class="icon">{{ card.icon }}</div>
            <h4>{{ card.title }}</h4>
            <p>{{ card.description }}</p>
            <a [routerLink]="card.link" class="button small-button"
              >Use Calculator</a
            >
          </div>
        }
      </div>
    </div>
  }
</section>
